<!DOCTYPE html>
<html>
<head>
  <title>Dev OAuth Server</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<body>
<form action="/signin" method="POST" autocomplete="off" novalidate>
    <input type="hidden" name="client_id" value="{{client_id}}">
    <input type="hidden" name="redirect_url" value="{{redirect_url}}">
    <input type="hidden" name="scope" value="{{scope}}">
    <input type="hidden" name="state" value="{{state}}">
    <input type="hidden" name="nonce" value="{{nonce}}">
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
                {{client_id}} is requesting access to your account

            </div>
            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="{{username}}" placeholder="username" name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label></div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label></div>
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

            </div>
        </div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li style="color:darkred;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</div>
</form>

</div>
</body>
</html>
